---
layout: default
<!-- projects:
  - project_path: /portfolio/project1.html
  - title: Project1 -->
---

<div class="home">

  <!-- <h1 class="page-heading">Portfolio</h1> -->
  <div class="wrap bottom">
    <div class="content">
      <div class="project">
        <a href="/portfolio/doordash/doordash.html">
          <img src="/portfolio/doordash/DD_Screens_Only_Behance_NEW_Selects.jpg">
          <p>Doordash Redesign</p>
        </a>
      </div>
    </div>
  </div>


</div>


  <!-- {% for project in page.projects %}
    {{ project.title }}
  {% endfor %} -->
  <!-- <ul class="portfolio">
    {% for project in site.categories.portfolio %}
      <li>
        <span class="project-meta">{{ project.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="project-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
        </h2>

        {{ project.excerpt }}
        <a href="{{ project.url | prepend: site.baseurl }}">Read More</a>
      </li>
    {% endfor %}
  </ul> -->


</div>
